.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=50);
    z-index: 10000;
    display: none;
}

.mess {
    visibility: hidden;
    position: absolute;
    background: #fff;
    text-align: center;
    z-index: 99999;
}

.mess p {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.Poptop {
    padding: 0 5px!important;
    overflow: hidden;
    _height: 40px;
    line-height: 40px;
    font-family: microsoft yahei;
}

.Poptitle {
    text-align: left;
    color: #333;
    font-size: 14px;
    line-height: 40px;
    float: left;
}

.Popcontent img {
    padding:0 5px 5px;
}

.closePopbtn {
    background: #E7D767;
    width: 80px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-top: 8px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
}

span.closePopbtn:hover {
    background: #E7D767;
}