*{padding:0; margin:0;box-sizing:border-box;-moz-box-sizing:border-box;	font-family: "microsoft yahei","微软雅黑",sans-serif;}
body{width:100%; position: relative;
background: #0a5822 url(../money/bg.jpg) no-repeat center 107px;
}
html{-webkit-font-smoothing: antialiased;}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
.clear {overflow:hidden;_zoom:1;}
.clearfix:after {content: "."; display:block; height:0; clear:both ;visibility:hidden;}
../img{border:none;}
ul,ol{list-style:none;}
a{outline:none; text-decoration: none;}
.left{float:left;}
.right{float:right;}
.bg_3f1c00{background: #005823;}


.topdian{height: 106px; width: 100%; background:url(../money/tbg.jpg) no-repeat center; border-bottom: 1px solid #00d76f;}
.topdian_center{width: 1000px; height: 100%; margin:0 auto; }
.topdian_center h1{width:258px; height: 66px; margin-top: 26px; float: left;}
.topdian_center h1 ../img{display: block; }
.topdian_center ul{float: right; text-align: center;margin-top: 18px;}
.topdian_center li{float: left; width:94px; cursor: pointer; font-size: 16px; height: 88px; line-height: 88px; margin-right: 14px; position: relative;}
.topdian_center li a{color: #ffefb8; display: block;}
.topdian_center li:last-child{margin-right: 0;}
.topdian_center li:after{content:'';width:0;height:2px;margin:0 auto;background-color:#eac57d;position:absolute;bottom:1px;left:0;right:0;font-weight:bold;color:#fff;transition:width 0.5s linear 0s;}
.topdian_center li:hover:after {content:'';width:100%;height:2px;background:#eac57d;position:absolute; left:0; bottom:1px;}
.topdian_center li.on:after {content:''; width:100%;height:2px;background:#eac57d;position:absolute; left:0; bottom:1px; }

.bandian{width: 100%; max-width: 1920px; height:520px; background:transparent; }
.bandian_center{width: 1000px; height: 100%; margin:0 auto;  padding-top: 459px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.inputout{position: relative;width: 598px; height: 52px; line-height:50px; background: #006e38; border:3px solid #12ac57; border-radius: 38px; margin:0 auto; font-size:18px; color: #fff; padding-left:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.inputout span{display: inline-block; float: left;}
.inputout input{display:inline-block;float: left; width: 362px; height: 32px; line-height:32px; margin-top:7px; background: #fff; color: #005221; font-size: 16px; outline: none; border:none; border-radius: 30px; margin-left:8px; padding-left: 14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}

::-webkit-input-placeholder { /* WebKit browsers */
color: #2ab367;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #dfae3d;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #dfae3d;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #dfae3d;
}
/* .dian_gg{width: 100%; height: 42px; background: transparent;} */
.diangg_center{width: 898px; height: 28px;padding-left: 8px; line-height: 26px; border:1px solid #28b66a;position: absolute; left: 48px; top: 8px; background:#005222; color: #a6d37f; border-radius:30px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.diangg_center ../img{display: inline-block; float: left; width: 99px; height: 25px; }
.marb{width: 782px; height: 100%;line-height: 26px; font-size:12px; margin-left: 5px; overflow: hidden; color: #fff;  display: inline-block;position: relative;}
.inmarq{color: #fff;}
.str_move{white-space: nowrap; position:absolute;left: 0; top: 0;}
.dian_main{width: 1000px;  margin: 39px auto 0;  padding-bottom: 38px;}
.firstop{ width: 100%; height: 76px; position: relative;background:url(../money/nleft.png) no-repeat left center,url(../money/nright.png) no-repeat right center; padding:0 49px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box; }
.tol{width:100%; height:100%;  display: block; background: url(../money/ncenter.jpg) repeat-x; }

.diancon_top{ height:47px; background: url(../money/zhoubg.jpg) repeat-x; position: relative;text-align: center;}
.diancon_top ../img{width: 282px; height: 131px; position: absolute; display: block; top:-33px; left:362px;}
.diancon{width: 100%; padding:0 18px;background: #005221; border:2px solid #25a155; border-top:none !important; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.diancon h1{text-align: center; font-size: 22px; color: #f8e36f; font-weight: normal; line-height: 44px; padding-top: 48px;}
.diancon p{ font-size:14px; color: #e1fbed; line-height: 28px;}
.dian_tb{width: 100%; border-collapse: collapse;color: #e1fbed; text-align: center; background: #036b2d;  margin-top: 25px;}
.dian_tb th{height: 47px;background: url(../money/tr_bg.jpg) repeat-x 47px; font-size: 15px; font-weight: normal; color: #452402;}
.dian_tb td{height: 36px; border:1px solid #0d833d;}
/*.shuotil{color: #f8e36f; font-size: 21px; padding-top: 20px; line-height: 40px;}
.tbxin{width: 100%; border-collapse:collapse;text-align: center; color: #fff; font-size: 12px;margin-top: 35px;}
.tbxin td{ border:1px solid #247736; height: 44px;}
.tbxin tr:nth-of-type(odd) {background: url(../img/ditbbg.jpg) repeat-x; color:#530303;}
.tbxin tr:nth-of-type(even) {background:#036b2d; }*/
.dian_foot{display: block; margin:25px auto 20px;}
.footp{text-align: center; font-size: 12px; color: #20ab58;}
.botfoot{width: 100%; height:40px; line-height: 40px; background: #005221; color: #e9fff1;font-size: 12px; text-align: center; margin-top: 15px; }
.yyht{/*background: url(../img/yico1.jpg) no-repeat top center;*/ color: #ffee92; display: inline-block; width:72px; height: 100px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.bqby{/*background: url(../img/yico2.jpg) no-repeat top center;*/ color: #ffee92; display: inline-block; width:80px; height: 100px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.ryhj{/*background: url(../img/yico3.jpg) no-repeat top center;*/ color: #ffee92; display: inline-block; width:80px; height: 100px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.hgbj{/*background: url(../img/yico4.jpg) no-repeat top center;*/ color: #ffee92; display: inline-block; width:83px; height: 100px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.cczs{/*background: url(../img/yico5.jpg) no-repeat top center;*/ color: #ffee92; display: inline-block; width:91px; height: 112px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.zqwz{/*background: url(../img/yico6.jpg) no-repeat top center;*/ color: #ffee92; display: inline-block; width:101px; height: 112px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
/*.zIndexVip{ display: none;}*/
.dialogWrap{position: fixed; z-index: 9999;  left: 0; top: 0; width: 100%; height: 100%; background:rgba(0,0,0,.6); }
/*.barcodeDialog{position: fixed;z-index: 10000;left: 50%;top: 50%;margin-left:-364px;margin-top:-250px;width: 736px;height: 500px;background: #0a5822;}*/
.barcodetop{width: 100%;height: 42px;background: #0a6827;}
.barcodetop a{width: 26px; height: 23px; display: block; float: right; background:url(../img/close.png) no-repeat; margin:10px 15px 0 0; }
.lf../img{width: 332px; height:302px;padding-top:36px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.lf../img ../img{display: block; margin:0 auto;}
.mainintro{width: 388px; height:302px;padding-top:34px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.mainintro p{color: #fff; font-size:20px; line-height: 40px;}
.font_41{font-size: 41px !important; color: #ffe400; font-weight: bold;}
.color_ffe400{color: #ffe400 !important;}
.go_tou{display: block; width: 223px; height: 58px; background: url(../img/btntz.jpg) no-repeat; margin:10px 0 0 38px;}
.zintab{width: 694px;border-collapse: collapse;margin:0 auto;background: #0b8230;text-align: center;}
.zintab tr{height: 52px;color:#fff;}
.zintab tr td{border: 1px solid #11b444;font-size: 16px; text-align:center;}
.zintab tr b{font-weight: normal; display: inline-block; float: left;}
.zintab  b ../img{display: inline-block; float: left; margin-left: 26px;}
.zintab tr span{display: inline-block; float: left; height: 52px; line-height: 52px;}

.best_wang{background: #036b2d url(../money/yico6.png) no-repeat center 4px; text-align: center; width: 100%;  padding-top: 111px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.best_wang table{width: 100%; border-collapse: collapse; font-size: 16px; color: #e1fbed;}
.besttr{background:url(../img/tbbg.jpg) repeat-x; height: 44px; color: #452402;  }
.besttr th{font-weight: normal;}
.best_wang table td{height:62px; border:1px solid #299655; }
.xufu{width: 187px !important; height: 219px; position: fixed; background: url(../img/kefubg.png) no-repeat;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.xufulf{left: 0; top: 360px; padding-top: 46px;}
.xufulf a{width: 126px; height: 39px; line-height: 39px; font-weight: bold; display: block;background: url(../img/kefu-l1.png) no-repeat; margin:0 auto 12px; color: #4e2200; font-size: 20px; text-align: center; }
.xufulf a:hover{background: url(../img/kefu-l1on.png) no-repeat;}
.close_js{position: absolute; width:73px; height:22px; outline: none; border:none;	bottom:-19px ; left:54px; display: block;background: url(../img/kefuclose.png) no-repeat;}
.xufurt{right: 0;top: 360px;}
.xf_kf{margin:54px auto 0; width:122px; height: 49px;  background: url(../img/kefu-r1.png) no-repeat; display: block;}
.xf_top{margin:22px auto 0; display: block;width:118px; height: 60px;  background: url(../img/kefu-r2.png) no-repeat;}

.pop{ display:none; }
.pop_bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9;
}
.pop_box {
	position: fixed;
	left: 50%;
	top:50%;
	width: 735px;
	height: 500px;
	background: rgba(70, 2, 2, 0.9);
	margin-left: -367px;
	margin-top: -250px;
	overflow: hidden;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
	color: #fff;
	z-index: 10;
}
.pop_box .red {
	color: #f00;
}
.pop_box .green {
	color: #1eff00;
}
.pop_box .yellow {
	color: #ffe509;
}
.pop_box .color1 {
	color: #f32481;
}
.pop_box .color2 {
	color: #00ffde;
}
.pop_box .color3 {
	color: #ff3678;
}
.pop_header {
	height: 42px;
	line-height: 42px;
	color: #fff;
	/*
	background: url(../img/title_bg.png) repeat-x 0 bottom;
	*/
	overflow: hidden;
	padding: 0 15px;
}
.pop_header h2{
	font-size: 16px;
	float: left;
}
.pop_header .close{
	font-size: 16px;
	float: right;
	width: 20px;
	height: 20px;
	background: url(../money/x.png) no-repeat;
	margin-top: 12px;
	cursor: pointer;
}
.text_box {
    padding: 20px 45px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.ul li{line-height:26px;}

/*新增*/
.diangg_center span{
	position: relative;
	top: -8px;
}
.diancon_top img{
	position: relative;
	top: -32px;
}

/*---弹窗css----*/
/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "microsoft yahei","微软雅黑",sans-serif;
}
body {
    width: 100%;
    position: relative;*/
    /*background: #0a5822 url(../images/bg.jpg) no-repeat center 107px;
}*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*-----*/
img {
    border: none;
}
.zIndexVip {
    display: none;
}
.left {
    float: left;
}


/*----*/
.bandian_center {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-top: 480px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inputout {
    position: relative;
    width: 598px;
    height: 52px;
    line-height: 50px;
    background: #006e38;
    border: 3px solid #12ac57;
    border-radius: 38px;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inputout span {
    display: inline-block;
    float: left;
}
.inputout input {
    display: inline-block;
    float: left;
    width: 362px;
    height: 32px;
    line-height: 32px;
    margin-top: 7px;
    background: #fff;
    color: #005221;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 8px;
    padding-left: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn_chaxun {
    width: 128px;
    height: 52px;
    position: absolute;
    right: -3px;
    top: -3px;
    background: url(../images/click.png) no-repeat;
    display: inline-block;
    float: left;
    cursor: pointer;
}

/*----*/


.dialogWrap {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}
.barcodeDialog {
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 736px;
    height: 500px;
    background: #0a5822;
}
.barcodetop {
    width: 100%;
    height: 42px;
    background: #0a6827;
}
.barcodetop a {
    width: 26px;
    height: 23px;
    display: block;
    float: right;
    background: url(../images/close.png) no-repeat;
    margin: 10px 15px 0 0;
}

.lfImg {
    width: 332px;
    height: 302px;
    padding-top: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lfImg img {
    display: block;
    margin: 0 auto;
}
.mainintro {
    width: 388px;
    height: 302px;
    padding-top: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mainintro p {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.go_tou {
    display: block;
    width: 223px;
    height: 58px;
    background: url(../images/btntz.jpg) no-repeat;
    margin: 10px 0 0 38px;
}
.zintab {
    width: 694px;
    border-collapse: collapse;
    margin: 0 auto;
    background: #0b8230;
    text-align: center;
}
.zintab tr {
    height: 52px;
    color: #fff;
}
.zintab tr td {
    border: 1px solid #11b444;
    font-size: 16px;
    text-align: center;
}
.zintab tr b {
    font-weight: normal;
    display: inline-block;
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.color_ffe400{color: #ffe400 !important;}