* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", 微软雅黑, "Hiragino Sans GB", arial;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #effff8;
    color: #555;
    overflow-x: hidden;
    resize: none;
    -webkit-font-smoothing: antialiased;
    min-width: 1100px
}

html {
    -webkit-font-smoothing: antialiased;
}

.clear {
    overflow: hidden;
    _zoom: 1;
}

.clearfix:after 
{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    border: none;
}

ul, ol {
    list-style: none;
}

input[type="text"] {
    -moz-appearance: textfield;
}

a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    text-decoration: none;
}

a, a:hover, a:active, a:visited, a:link, a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.marq1000 {
    width: 1000px;
    margin: 0 auto;
}

.yhup {
    height: 57px;
    background: #26262e;
    border-bottom: 1px solid #a89c33;
    box-shadow: 0 1px 1px #666546;
    position: relative;
    z-index: 1000;
}

.yhup_t {
    height: 36px;
    background: #2a2a2a;
}

.yhup_t p {
    float: left;
    line-height: 36px;
    font-size: 15px;
    color: #fff;
}

.yhup_t p i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 16px;
}

.lij {
    float: right;
    color: red;
    width: 77px;
    height: 28px;
    margin-top: 9px;
    background: url("images/lij.png") no-repeat center;
    background-size: contain;
}
.prrtn {
    float: right;
    line-height: 36px;
    font-size: 12px;
    color: #fff;
    padding-right: 8px;
}

.prrtn span {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 16px;
    background: url(images/lang_rect.png) no-repeat 0 -120px;
}

.hhnav {
    position: relative;
}

.hhnav li {
    height: 56px;
    float: left;
    margin-right: 16px;
}

.hhnav li:nth-child(4) {
    margin-left: 400px;
}

.hhnav li:last-child {
    margin-right: 0;
}

.hhnav li a {
    display: block;
    line-height: 56px;
    color: #ffd473;
    font-size: 14px;
    padding: 0 15px;
}

.hhnav li a:hover {
    color: #fff;
}

.navbg {
    width: 330px;
    height: 101px;
    position: absolute;
    left: 50%;
    margin-left: -165px;
    top: 0;
    background:#fff url(images/logo_bg.jpg) no-repeat;
}

.yhmain {
    height: 2600px;
    position: relative;
    overflow: hidden;
    resize: none;
    background: url(images/bg.jpg)  no-repeat center;
    background-size: cover;
    background-position: bottom;
}

.yhban {
    height: 624px;
    position: relative;
}

.slider1 {
    height: 624px;
    overflow: hidden;
	position: relative;
}
.dibubg{width:100%; height: 160px; position: absolute; z-index: 20; bottom: 0; left:0; right: 0;  background: -webkit-linear-gradient(rgba(239,255,248,0), rgba(239,255,248,1));   background: -o-linear-gradient(rgba(239,255,248,0), rgba(239,255,248,1)); background: -moz-linear-gradient(rgba(239,255,248,0), rgba(239,255,248,1));   background: linear-gradient(rgba(239,255,248,0), rgba(239,255,248,1));}
.slider-wrapper {
    width: 100%;
/*    background: grey;*/
    position: relative;
    overflow: hidden;
}

.slider-wrapper .slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.slider-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.slider-navigation span {
    position: absolute;
    pointer-events: all;
    width: 40px;
    height: 55px;
    display: block;
    cursor: pointer;
    top: 50%;
    margin-top: -90px;
    opacity: 0.4;
    filter: Alpha(opacity=40);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.slider-navigation span.slider-prev {
    background: url(images/1eft.png) no-repeat;

}

.slider-navigation span.slider-next {
    right: 0;
    background: url(images/right.png) no-repeat;
}

.slider-navigation span:hover {
    opacity: 1;
    filter: Alpha(opacity=100);
}

.yhmain_center {
    width: 1563px;
    z-index: 9999;
    position: absolute;
        top: 395px;
        left: 50%;
    transform: translate(-15%);
    background:url(images/b_bgInner.png) repeat-y ;
    background-size:contain;
    
    text-align: center;
    margin-left: -556px;
    margin-top:250px;
    padding-top: 45px;
    display: inline-flex;
}

.yhmain_center:before {
    content: '';
    width: 1563px;
    height: 337px;
    position: absolute;
    top: -215px;
    left: 0;
    background: url(images/b_bgBefore.png) no-repeat;
     background-size:contain;
}

.yhmain_center:after {
    content: '';
    width: 1563px;
    height: 337px;
    position: absolute;
        bottom: -123px;
        left: 0;
    background: url(images/b_bgAfter.png) no-repeat;
     background-size:contain;
}


.yhconlf {
    position: relative;
    z-index: 2;
}

.yhgg {
    font-size: 17px;
    margin-bottom: 25px;
    margin-top:-150px;
    color: #ffd97f;
    background: url(images/marquee_bg.png) no-repeat center;
    background-size:contain; 
}
#yhggContain{
    position:relative;
    height:36px;
    width:980px;
    margin-left: 50%;
    transform: translate(-50%);
}
#yhggContain>span::before{
    content:'';
    display: block;
    height:30px;
    width:30px;
    position:absolute;
        top:4px;
        left:0px;
    background: url(images/gg.png) no-repeat center;
}

.yhgg span {
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 35px;
    float: left;
    margin-left:30px;
    font-size:18px
}

.yhgg marquee {
    float: left;
    line-height: 36px;
    width: 835px;
    font-size: 18px;
    color: #ededed;
    position:absolute;
        top:0px;
        right:10px;
    overflow: hidden;
}

.tbyh {
    width: 952px;
    
    border-collapse: collapse;
    font-size: 22px;
    color: #3000;
    font-weight:600;
    margin: 0 auto 12px;
    display: inline-block;
}

.tbyh th {
    width: 476px;
    height: 47px;
    line-height: 47px;
    padding-bottom: 15px;
}

.tbyh td {
    height: 48px;
    width: 457px;
    line-height: 46px;
    border: 1px solid #300000;
    padding: 0 10px;
    font-size: 18px;
    color:#300000;
    text-align: left;
    background-color: rgba(255,255,255,0.5);
}

.tbyh td:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.tbyh img {
    display: inline-block;
    vertical-align: middle;
}

.tbyh i {
    display: inline-block;
    margin: 0 11px;
}

.fi3 {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .5);
}

.fi2 {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .7);
}

.fi1 {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .9);
}

.fi0 {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: rgb(255, 255, 255);
}

.btn_go {
    width: 85px;
    height: 23px;
    margin-top: 10px;
    float: right;
    display: block;
    background: url(images/btn_go.png) no-repeat;
}

.yhfoot {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing:1px;
    font-size: 15px;
    color: #fff;
}

.search {
    width: 50px;
    height: 26px;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
    background: url("images/btn_check.png") no-repeat center;
    background-size: contain;
}

.aply {
    width: 50px;
    height: 26px;
    float: right;
    margin-top: 10px;
    background: url("images/btn_apply_.png") no-repeat center;
    background-size: contain;
}

.aply:hover, .search:hover {
    margin-top: 8px;
    transition: marginTop 200ms;
}

.side_bar{
    min-width: 1560px;
}

.af {
    position: absolute;
    top: 55px;
    width: 286px;
    min-height: 555px;
    z-index: 11000;
/*    background-color: #45d922;*/
}
.af>a{
    height:87px;
    display:block;
    margin-top: -1px;
}
div#afl:hover, {
    filter:brightness(1.2)
}



.af img{
    vertical-align: middle;
    background-repeat:  no-repeat;
}

#afl{
    filter:drop-shadow(50px 50px 50px 50px rgba(255,255,255,1));
    background:url(images/ad_l.png) no-repeat center;
}
#afr {
    position:absolute;
    right:0px;
    background:url(images/ad_r.png) no-repeat center;
}
.jx {
    float: right;
    color: red;
    width: 77px;
    height: 28px;
    margin-top: 10px;
    background: url("images/jx.png") no-repeat center;
/*    background-size: contain;*/
}

.fl1 {
/*    background: url("images/float.png") no-repeat center;*/
}
.fl2 {
/*    background: url("images/float_inner.png") center;*/
}

.fl3 {

/*    background: url("images/float_inner.png") center;*/
}

.fl4 {
/*    background: url("images/float_inner.png") center;*/
}

.fl5 {

/*    background: url("images/float_inner.png") center;*/
}

.fl6 {
    position:relative;
    display: block;
    height:125px;
/*    background: url("images/float_bt.png")  center;*/
}

/*叉叉*/
.fl6::after,.fr6::after {
display:block;
    width: 25px;
    height:25px;
    content:"X";
    color:#fff;
    text-align: center;
    line-height: 20px;
    position:absolute;
        bottom:35px;
        left:134px;
    border-radius:50%;
    border:2px solid #fff;
    z-index: 99999
    
}
.fr6::after {
  right:10px;
}
/*------*/
/*
.fr1 {
    display: block;
    width: 226px;
    height: 159px;
    background: url("images/r_05.png") no-repeat center;
}

.fr2 {
    display: block;
    width: 226px;
    height: 60px;
    background: url("images/rh.gif") no-repeat center;
}

.fr3 {
    display: block;
    width: 226px;
    height: 46px;
    background: url("images/r_09.png") no-repeat center;
}

.fr4 {
    display: block;
    width: 226px;
    height: 64px;
    background: url("images/r_12.png") no-repeat center;
}

.fr5 {
    display: block;
    width: 226px;
    height: 136px;
    background: url("images/r_13.png") no-repeat center;
}
*/

.fr6 {
    
    display: block;
    width: 286px;
    height: 125px;
/*    background: url("images/r_16.png") no-repeat center;*/
/*    background-size: contain;*/
}
/*------------*/
/*
.fl1:hover {    
    display: block;
    width: 226px;
    height: 161px;
    background: url("images/fla_03.png") no-repeat center;
}

.fl2:hover {
    display: block;
    width: 226px;
    height: 61px;
    background: url("images/fla_08.png") no-repeat center;
}

.fl3:hover {
    display: block;
    width: 226px;
    height: 41px;
    background: url("images/fla_10.png") no-repeat center;
}

.fl4:hover {
    display: block;
    width: 226px;
    height: 86px;
    background: url("images/fla_11.png") no-repeat center;
}

.fl5:hover {
    display: block;
    width: 226px;
    height: 108px;
    background: url("images/fla_14.png") no-repeat center;
}

.fl6:hover {
    display: block;
    width: 226px;
    height: 73px;
    background: url("images/fla_15.png") no-repeat center;
}

.fr1:hover {
    display: block;
    width: 226px;
    height: 159px;
    background: url("images/fra_05.png") no-repeat center;
}

.fr3:hover {
    display: block;
    width: 226px;
    height: 46px;
    background: url("images/fra_09.png") no-repeat center;
}

.fr4:hover {
    display: block;
    width: 226px;
    height: 64px;
    background: url("images/fra_12.png") no-repeat center;
    background-size: contain;
}

.fr5:hover {
    display: block;
    width: 226px;
    height: 136px;
    background: url("images/fra_13.png") no-repeat center;
    background-size: contain;
}

.fr6:hover {
    display: block;
    width: 226px;
    height: 65px;
    background: url("images/fra_16.png") no-repeat center;
    background-size: contain;
}
*/

@media screen and (max-width: 1500px) {
    .afl {
        position: absolute;
        top: 65px;
        left: -20px;
        width: 286px;
        z-index: 11000;
    }

    .afr {
        position: absolute;
        top: 65px;
        right: 0px;
        width: 286px;
        z-index: 11000;
    }

}

@media screen and (max-width: 1280px) {
    .afl {
        position: absolute;
        top: 65px;
        left: -40px;
        width: 286px;
        z-index: 11000;
    }

    .afr {
        position: absolute;
        top: 65px;
        right: -40px;
        width: 286px;
        z-index: 11000;
    }
}

/*弹窗*/
.ele-notice-content-style p, .ele-notice-content-style li {
    line-height: 22px
}

.ele-notice-content-style address, .ele-notice-content-style blockquote, .ele-notice-content-style dd, .ele-notice-content-style dl, .ele-notice-content-style dt, .ele-notice-content-style fieldset, .ele-notice-content-style form, .ele-notice-content-style h1, .ele-notice-content-style h2, .ele-notice-content-style h3, .ele-notice-content-style h4, .ele-notice-content-style h5, .ele-notice-content-style h6, .ele-notice-content-style noframes, .ele-notice-content-style ol, .ele-notice-content-style p, .ele-notice-content-style ul, .ele-notice-content-style center, .ele-notice-content-style dir, .ele-notice-content-style hr, .ele-notice-content-style menu, .ele-notice-content-style pre {
    display: block
}

.ele-notice-content-style li {
    display: list-item
}

.ele-notice-content-style table {
    display: table
}

.ele-notice-content-style tr {
    display: table-row
}

.ele-notice-content-style thead {
    display: table-header-group
}

.ele-notice-content-style tbody {
    display: table-row-group
}

.ele-notice-content-style tfoot {
    display: table-footer-group
}

.ele-notice-content-style col {
    display: table-column
}

.ele-notice-content-style colgroup {
    display: table-column-group
}

.ele-notice-content-style td, .ele-notice-content-style th {
    display: table-cell
}

.ele-notice-content-style caption {
    display: table-caption
}

.ele-notice-content-style th {
    font-weight: bolder;
    text-align: center
}

.ele-notice-content-style caption {
    text-align: center
}

.ele-notice-content-style h1 {
    font-size: 2em;
    margin: .67em 0
}

.ele-notice-content-style h2 {
    font-size: 1.5em;
    margin: .75em 0
}

.ele-notice-content-style h3 {
    font-size: 1.17em;
    margin: .83em 0
}

.ele-notice-content-style h4, .ele-notice-content-style p, .ele-notice-content-style blockquote, .ele-notice-content-style ul, .ele-notice-content-style fieldset, .ele-notice-content-style form, .ele-notice-content-style ol, .ele-notice-content-style dl, .ele-notice-content-style dir, .ele-notice-content-style menu {
    margin: 1.5em 0
}

.ele-notice-content-style table h4, .ele-notice-content-style table p, .ele-notice-content-style table blockquote, .ele-notice-content-style table ul, .ele-notice-content-style table fieldset, .ele-notice-content-style table form, .ele-notice-content-style table ol, .ele-notice-content-style table dl, .ele-notice-content-style table dir, .ele-notice-content-style table menu {
    margin: 0
}

.ele-notice-content-style h5 {
    font-size: .83em;
    margin: 1.5em 0
}

.ele-notice-content-style h6 {
    font-size: .75em;
    margin: 1.67em 0
}

.ele-notice-content-style h1, .ele-notice-content-style h2, .ele-notice-content-style h3, .ele-notice-content-style h4, .ele-notice-content-style h5, .ele-notice-content-style h6, .ele-notice-content-style b, .ele-notice-content-style strong {
    font-weight: bolder
}

.ele-notice-content-style blockquote {
    margin-left: 40px;
    margin-right: 40px
}

.ele-notice-content-style i, .ele-notice-content-style cite, .ele-notice-content-style em, .ele-notice-content-style var, .ele-notice-content-style address {
    font-style: italic
}

.ele-notice-content-style pre, .ele-notice-content-style tt, .ele-notice-content-style code, .ele-notice-content-style kbd, .ele-notice-content-style samp {
    font-family: monospace
}

.ele-notice-content-style pre {
    white-space: pre
}

.ele-notice-content-style button, .ele-notice-content-style textarea, .ele-notice-content-style input, .ele-notice-content-style object, .ele-notice-content-style select {
    display: inline-block
}

.ele-notice-content-style big {
    font-size: 1.17em
}

.ele-notice-content-style small, .ele-notice-content-style ub, .ele-notice-content-style sup {
    font-size: .83em
}

.ele-notice-content-style sub {
    vertical-align: sub
}

.ele-notice-content-style sup {
    vertical-align: super
}

.ele-notice-content-style table {
    border-spacing: 2px
}

.ele-notice-content-style thead, .ele-notice-content-style tbody, .ele-notice-content-style tfoot {
    vertical-align: middle
}

.ele-notice-content-style td, .ele-notice-content-style th {
    vertical-align: inherit
}

.ele-notice-content-style s, .ele-notice-content-style strike, .ele-notice-content-style del {
    text-decoration: line-through
}

.ele-notice-content-style hr {
    border: 1px inset
}

.ele-notice-content-style ol, .ele-notice-content-style ul, .ele-notice-content-style dir, .ele-notice-content-style menu, .ele-notice-content-style dd {
    margin-left: 40px
}

.ele-notice-content-style ul {
    list-style-type: disc;
    padding-left: 12px
}

.ele-notice-content-style ol {
    list-style-type: decimal;
    padding-left: 15px
}

.ele-notice-content-style ol .ele-notice-content-style ul, .ele-notice-content-style ul ol, .ele-notice-content-style ul ul, .ele-notice-content-style ol ol {
    margin-top: 0;
    margin-bottom: 0
}

.ele-notice-content-style u, .ele-notice-content-style ins {
    text-decoration: underline
}

.ele-notice-content-style br:before {
    content: "\A"
}

.ele-notice-content-style :before, .ele-notice-content-style :after {
    white-space: pre-line
}

.ele-notice-content-style center {
    text-align: center
}

.ele-notice-content-style abbr, .ele-notice-content-style acronym {
    font-variant: small-caps;
    letter-spacing: .1em
}

.ele-notice-content-style :link, .ele-notice-content-style :visited {
    text-decoration: underline
}

.ele-notice-content-style BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override
}

.ele-notice-content-style BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override
}

.ele-notice-content-style [DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed
}

.ele-notice-content-style [DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed
}

.ele-notice-content-style .marker {
    background-color: #ff0
}

.ele-notice-mask-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11002;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg_gray.png');
}

#js-notice-pop {
    position: absolute;
    width: 1078px;
    color: #222;
    overflow: hidden;
    background-color: #F8F8F8;
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

#js-notice-pop object {
    display: block;
}

#js-notice-pop .ele-notice-title {
    position: relative;
    color: #652A62;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    padding: 0 50px 0 15px;
    font-weight: normal;
    background-color: #FFF;
    border-top: solid 3px #652A62;
    margin: 0;
}

#js-notice-pop .ele-notice-title i {
    position: absolute;
    /*top: 50%;*/
    right: 25px;
    color: #AE96B1;
    cursor: pointer;
    /*font-size: 22px;*/
    font-style: normal;
    /*margin-top: -11px;*/
}

#ele-notice-inner {
    height: 525px;
    border-top: solid 1px #EEE;
}

#ele-notice-sidemenu {
    position: relative;
    float: left;
    width: 348px;
    height: 100%;
    font-size: 15px;
    overflow: auto;
    background-color: #F2F2EA;
}

/* 覆蓋舊版廳主自改預設樣式 */
#js-notice-pop #ele-notice-sidemenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ele-notice-sidemenu li:after {
    display: block;
    height: 1px;
    content: "";
    background-color: #DFDFDF;
    border-top: solid 1px #FFF;
}

#ele-notice-sidemenu .ele-notice-menu {
    position: relative;
    height: 48px;
    line-height: 48px;
    color: #666;
    cursor: pointer;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px 0 40px;
}

#ele-notice-sidemenu .ele-notice-menu-active, #ele-notice-sidemenu .ele-notice-menu:hover {
    color: #FFF;
    background-color: #652A62;
}

#ele-notice-sidemenu .ele-notice-menu:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 3px;
    height: 48px;
    content: "";
    background-color: #B29BB5;
}

#ele-notice-sidemenu .ele-notice-menu-active:before, #ele-notice-sidemenu .ele-notice-menu:hover:before {
    display: none;
}

.ele-notice-icon {
    position: absolute;
    top: 17px;
    left: 13px;
    width: 16px;
    height: 16px;
    content: "";
    background: url('./images/list_icon.png') 0 0 no-repeat;
}

#ele-notice-sidemenu .ele-notice-menu-active .ele-notice-icon, #ele-notice-sidemenu .ele-notice-menu:hover .ele-notice-icon {
    background-position: 0 100%;
}

.ele-notice-content-wrap {
    position: relative;
    float: left;
    width: 730px;
    height: 525px;
}

.ele-notice-content-wrap:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #DFDFDF;
    border-left: solid 1px #FFF;
}

.ele-notice-content {
    position: absolute;
    top: 0;
    left: 15px;
    width: 700px;
    height: 545px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    overflow: auto;
    padding-top: 15px;
}

.ele-notice-content-current {
    z-index: 2;
    display: block;
    opacity: 1;
}

.ele-notice-mobile-content {
    display: none;
}

#js-notice-subtitle {
    color: #5D2C63;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#ele-notice-bottom {
    height: 40px;
    border-top: solid 1px #EEE;
    padding: 18px 19px 0 0;
}

.ele-notice-checkbox {
    float: right;
    color: #828282;
}

.ele-notice-checkbox input {
    vertical-align: middle;
    margin-right: 5px;
}

@media screen and (max-width: 1078px) {
    .ele-notice-mask-wrap {
        position: absolute;
        top: 0;
        left: 0;
    }
    #js-notice-pop {
        width: 100%;
    }

    #ele-notice-inner {
        height: auto;
    }

    #ele-notice-sidemenu {
        width: 100%;
    }

    #ele-notice-sidemenu .ele-notice-menu {
        height: 50px;
        line-height: 50px;
    }

    #ele-notice-content-wrap {
        display: none;
        width: 100%;
    }

    .ele-notice-mobile-content {
        overflow: auto;
        padding: 24px 15px;
    }

    .ele-notice-content-current {
        display: block;
    }

    #ele-notice-bottom {
        height: 36px;
        border-top: solid 1px #EEE;
        padding-top: 17px;
    }
}

/*------新增金沙平台優惠-----2018_1128---*/



* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", å¾®è½¯é›…é»‘, "Hiragino Sans GB", arial;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
   background: #effff8;
    color: #555;
    /* overflow-x: hidden; */
    resize: none;
    -webkit-font-smoothing: antialiased;
    min-width: 1100px;
}

html {
    -webkit-font-smoothing: antialiased;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.clear {
/*    overflow: hidden;*/
    _zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    border: none;
}

ul,
ol {
    list-style: none;
}

input[type="text"] {
    -moz-appearance: textfield;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mgblock {
    display: block;
    margin: 0 auto;
}

@-webkit-keyframes btnscale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes btnscale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes btnscale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}


/* @font-face{
      font-family: 'ITV Reem';
      src: url(../assets/itvreem.woff) format('woff');
    } */

.js-odoo {
    font-family: "SimHei", "é»‘ä½“" !important;
    width: 470px;
    height: 72px;
    line-height: 72px;
    margin: 226px auto 0;
    font-size: 52px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    fill: #f9e77f;
}

@-webkit-keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

@-moz-keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

@keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

@-webkit-keyframes electronic {
    0%,
    100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }
}

@-moz-keyframes electronic {
    0%,
    100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }
}

@keyframes electronic {
    0%,
    100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }
}
.top_head{width:100% ; }
.jstop {
    height: 32px;
    line-height: 32px;
    width: 100%;
    background: #179146;
    color: #FFF;
    font-size: 14px;
}

.jstop_center {
    width: 1563px;
    height: 100%;
    margin: 0 auto;
}

.header-text1 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.header-text2 {
    float: left;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #C7E4D2;
}

.header-text3 {
    float: left;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #ffe418;
    margin-left: 16px;
    background: url(../images/tel.png) no-repeat left center;
    padding-left: 20px;
}

.jstop_center a {
    color: #FFF;
    font-size: 14px;
    padding: 0 5px;
}

.jstop_center a:hover {
    color: #ffe418;
}

.jseondhead {
    width: 100%;
    height: 96px;
    height: 96px;
    background: #fff;
}

.jseondhead_center {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.jslogo {
    float: left;
    margin: 10px 20px 0 0;
}

.myAnim {
    margin-top: 10px;
}

.kf_right
{
    float: right;
    margin-top: 19px;
}

.zxkf {
    display: block;
    margin: 2px;
    height: 60px;
    width: 200px;
    background: url(/images/cs.png) no-repeat center;
    z-index: 1;
}

.zxkf img {
    vertical-align: middle;
}

.kf_right {
    display: block;
    height: 64px;
    width: 204px;
    border-radius: 3px;
    background: #f00;
    background: linear-gradient( 90deg, #fafafa, #fafafa, #e2aa57, #fafafa, #fafafa);
    background-position: 55px 0;
    -webkit-animation: linear 1s infinite linear;
    -moz-animation: linear 1s infinite linear;
    animation: linear 1s infinite linear;
}

.kf_right {
    background: radial-gradient( #e2aa57, #e2aa57, #e2aa57, #e2aa57, #fafafa, #fafafa) no-repeat;
    background-size: 150px 50px;
    animation: electronic 2s infinite linear;
}

.jsnav {
    width: 100%;
    height: 50px;
    background: #0d9642;
}

.jsnav ul {
    margin: 0 auto;
    width: 1140px;
    padding: 0 10px;
}

.jsnav ul li {
    float: left;
    width: 140px;
    height: 50px;
}

.jsnav li a {
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-top: 28px;
    background: url(../images/divider.png) no-repeat right center;
}

.jsmain {
    width: 100%;
    height: 851px;
    padding-top: 42px;
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jsmain_center {
    width: 1140px;
    margin: 0 auto;
}

.lfbann {
    float: left;
    width: 556px;
    height: 304px;
    background: #fff;
    padding: 10px;
    position: relative;
}

.rtnews {
    float: right;
    width: 555px;
    height: 304px;
    border: 2px solid #e2e2e2;
    background: #fff;
}

.newul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.newul li {
    float: left;
    width: 33.3%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #f5f5f5;
}

.newul li.active,
.newul li:hover {
    border-bottom: none;
    border-top: 2px solid #0d9642;
    background: #fff;
}

.new_hui {
    padding-left: 40px;
    color: #4c4c4c;
    margin-top: 10px;
}

.new_hui li {
    border-bottom: 1px dashed #c1c1c1;
    list-style-type: square;
    height: 38px;
    line-height: 38px;
}

.new_hui li:last-child {
    border-bottom: none;
}

.new_hui li:hover {
    font-weight: bold;
}

.hotgame {
    padding: 0 33px;
}

.hotgame:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hotgame li {
    width: 50%;
    float: left;
    height: 84px;
}

.hotgame li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    padding: 4px 0;
    border-bottom: 1px dashed #c1c1c1;
    border-right: 1px dashed #c1c1c1;
}

.hotgame li:nth-child(2n+2) a {
    border-right: none;
}

.hotgame li:last-child a {
    border-bottom: none;
}

.hotgame li:nth-last-child(2) a {
    border-bottom: none;
}

.hotgame li img {
    display: block;
    margin: 0 auto;
}

.hotgame li b {
    height: 20px;
}

.hotgame li b span {
    color: #f30303;
}

.hotgame li:hover a {
    opacity: .7;
    filter: Alpha(opacity=70);
}

.wininfo {
    width: 100%;
    height: 230px;
    overflow: hidden;
    padding: 0 33px;
}

.wininfo .title {
    font-size: 15px;
    color: #000;
    margin-top: 6px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #c1c1c1;
}

.wininfo ul {
    margin-top: 10px;
}

.wininfo ul li {
    color: #000;
    width: 100%;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
}

.wininfo span {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 32%;
}

.banImg {
    width: 512px;
    height: 258px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.banImg li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banNum {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.banNum li {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    text-indent: -99999px;
}

.banNum li.active {
    background: #fff;
}

.jsjc {
    height: 486px;
    width: 556px;
    float: left;
    background: #fff;
    padding: 12px 20px 0;
    border: 2px solid #e2e2e2;
    margin-top: 20px;
    position: relative;
}

.jsjc i {
    width: 33px;
    height: 118px;
    background: url(../images/miaoji.png) no-repeat;
    position: absolute;
    left: -33px;
    top: 62px;
}

.jsjc b {
    float: left;
    font-weight: normal;
    color: #0d9642;
    font-size: 30px;
    width: 349px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #0d9642;
    display: inline-block;
}

.jsjc b span {
    font-size: 42px;
    color: #f00101;
}

.reload_btn {
    float: left;
    width: 159px;
    height: 50px;
    display: inline-block;
    background: url(../images/btm_01.png) no-repeat;
}

.reload_btn:hover {
    background: url(../images/btm_01.png) no-repeat -160px 0;
}

.onewb {
    margin-top: 16px;
}

.onewb:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cm {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 22px;
    border-radius: 6px;
    background: #0d9642;
    color: #fff;
    font-size: 17px;
    display: inline-block;
}

.modewb {
    float: left;
    width: 286px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    color: #000000;
    border-bottom: 1px solid #0d9642;
}

.modewb span {
    font-weight: bold;
    color: #0d9642;
}

.oneline {
    float: left;
    margin-left: 22px;
    width: 115px;
    height: 36px;
    line-height: 36px;
    color: #fbff6c;
    font-size: 23px;
    text-align: right;
    padding-right: 12px;
    background: url(../images/btm_2.png) no-repeat;
}

.oneline:hover {
    background: url(../images/btm_1.png) no-repeat;
    font-size: 0;
    /width: 115px;
    height: 36px;
    line-height: 36px;
}

.conyyhui {
    display: none;
    position: relative;
}

.jslot {
    float: right;
    width: 555px;
    height: 436px;
    background: url(../images/lot.png) no-repeat;
    margin-top: 24px;
    position: relative;
}

.jslot i {
    width: 558px;
    height: 342px;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.suplot {
    width: 422px;
    height: 86px;
    position: absolute;
    bottom: 28px;
    left: 72px;
}

.suplot li {
    width: 33.333%;
    height: 86px;
    float: left;
}

.suplot li:nth-child(1) {
    background: url(../images/01.png) no-repeat center top;
}

.suplot li:nth-child(2) {
    background: url(../images/02.png) no-repeat center top;
}

.suplot li:nth-child(3) {
    background: url(../images/03.png) no-repeat center top;
}

.jc_name {
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-top: 42px;
    overflow: hidden;
}

.jcprice {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    overflow: hidden;
}

.jsweb {
    width: 1140px;
    margin: 30px auto 0;
}

.cantf {
    width: 100%;
    border: 4px solid #0d9642;
    padding: 15px;
    margin-bottom: 20px;
}

.cantf h1 {
    text-align: center;
    font-size: 35px;
    color: #0d9642;
    position: relative;
    margin-bottom: 20px;
}

.cantf h1:before {
    content: '';
    position: absolute;
    left: 146px;
    top: 25px;
    width: 272px;
    height: 1px;
    background: #0d9642;
}

.cantf h1:after {
    content: '';
    position: absolute;
    right: 146px;
    top: 25px;
    width: 272px;
    height: 1px;
    background: #0d9642;
}

.jsstep {
    width: 100%;
    border: 4px solid #0d9642;
    padding: 24px 28px 22px 12px;
    margin-top: 20px;
}

.jsstep:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.jsstep ul {
    float: left;
    padding-top: 18px;
}

.jsstep ul li {
    float: left;
    background: url(../images/n-2.png) no-repeat right center;
    padding-right: 26px;
    margin-right: 15px;
}

.jsstep ul li:last-child {
    background: none;
    padding-right: 0;
    margin-right: 0;
}

.jsstep li span {
    display: inline-block;
    margin-right: 4px;
    width: 63px;
    height: 63px;
    text-align: center;
    line-height: 63px;
    font-size: 32px;
    color: #fbff6c;
    background: url(../images/n-1.png) no-repeat;
}

.jsstep li:hover span {
    -webkit-animation: btnscale .4s linear;
    -moz-animation: btnscale .4s linear;
    animation: btnscale .4s linear;
}

.jsstep li b {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #0d9642;
    line-height: 22px;
    height: 63px;
}

.btn_hui {
    height: 45px;
    width: 135px;
    display: block;
    background: url(../images/n-3.png) no-repeat;
    margin-bottom: 4px;
}

.btn_hui:hover {
    background: url(../images/n-3.png) no-repeat -140px 0;
}

.btn_dai {
    height: 45px;
    width: 135px;
    display: block;
    background: url(../images/n-4.png) no-repeat;
}

.btn_dai:hover {
    background: url(../images/n-4.png) no-repeat -140px 0;
}

.zuidi {
    position: relative;
}

.zuidi a {
    position: absolute;
    left: 33px;
    bottom: 16px;
    width: 130px;
    height: 45px;
    z-index: 10;
    background: rgba(255, 255, 255, 0);
    display: block;
}

.jsbotasfoot {
    width: 100%;
    height: 74px;
    background: #0d9642;
    margin: 34px 0 0px;
    padding-top: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.jsbotasfoot a {
    color: #fff;
    padding: 0 5px;
}

.jsbotasfoot a:hover {
    color: #ffe418;
}

.fixbottom {
    display: none;
    width: 100%;
    height: 82px;
    background: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.fixcenter {
    width: 1140px;
    line-height: 82px;
    margin: 0 auto;
    position: relative;
}

.fixcenter:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.lf_fx {
    position: absolute;
    top: -18px;
    left: 0px;
}

.daoImg {
    margin: 16px 0 0 304px;
}

.zhouimg {
    position: absolute;
    left: 438px;
    top: -54px;
}

.crashimg {
    width: 190px;
    position: absolute;
    right: 0px;
    top: -15px;
}

.go_zhu {
    width: 150px;
    height: 53px;
    display: block;
    right: 250px;
    top: 18px;
    position: absolute;
    background: url(../images/btn_reg_member.png) no-repeat;
}

.go_zhu:hover {
    background: url(../images/btn_reg_member.png) no-repeat -150px 0;
}

.fxtime {
    width: 182px;
    height: 82px;
    position: absolute;
    right: 300px;
    top: 0;
    color: #f9e3d2;
    text-align: center;
}

.fxtime b {
    width: 40px;
    height: 100%;
    line-height: 26px;
    display: inline-block;
    padding-top: 18px;
}

.fxtime span {
    display: inline-block;
    width: 40px;
}

.fix_close {
    position: absolute;
    right: 12px;
    top: 4px;
    cursor: pointer;
    font-size: 36px;
    font-weight: 100;
    color: #ccc;
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
}

.fixbottom:hover .fix_close {
    display: block;
}

.wbul {
    padding: 0 23px;
    position: relative;
}

.wbul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wbul li {
    float: left;
    width: 247px;
    height: 291px;
    background: url(../images/wbul.png) no-repeat;
    margin-right: 22px;
}

.wbul li:last-child {
    margin-right: 0;
}

.wbul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.wbul li:hover {
    -webkit-animation: btnscale .4s linear;
}

.wbul li strong {
    font-size: 20px;
    color: #fff193;
    width: 128px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    font-family: "SimHei", "é»‘ä½“";
}

.wbul li p {
    font-size: 13px;
    color: #fbff6c;
    padding: 0 12px;
}

.wbul li p span {
    font-size: 17px;
    display: block;
    margin-bottom: 2px;
}

.wbul li p b {
    font-weight: normal;
    line-height: 18px;
}

.main_visual {
    height: 284px;
    overflow: hidden;
    position: relative;
}

.main_image {
    height: 284px;
    overflow: hidden;
    position: relative;
}

.main_image ul {
    width: 9999px;
    height: 284px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 304px;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 284px
}

.main_image li a {
    display: block;
    width: 100%;
    height: 284px
}

div.flicking_con {
    position: absolute;
    bottom: 12px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 21px;
    margin: 0;
    text-align: center;
}

div.flicking_con a {
    width: 18px;
    height: 18px;
    margin: 0 5px;
    padding: 0;
    background: url('../images/btn_main_img.png') 0 0 no-repeat;
    display: inline-block;
    text-indent: -1000px
}

div.flicking_con a.on {
    background-position: 0 -22px
}

#btn_prev,
#btn_next {
    display: none;
    z-index: 11111;
    font-size: 50px;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    width: 40px!important;
    height: 40px!important;
    line-height: 40px!important;
    text-align: center;
    top: 50%;
    margin-top: -37px;
    text-decoration: none;
}

#btn_prev {
    left: 10px;
}

#btn_next {
    right: 10px;
}

.count-title {
    color: #f9e77f;
    font-size: 52px;
    margin: 228px auto 0;
    width: 416px;
    padding-right: 10px;
    height: 84px;
    text-align: center;
}

.colorflash {
    color: #0878c7;
    font-weight: 900;
    animation: colorflash 0.8s infinite;
}

@keyframes colorflash {
    0% {
        color: #0878c7;
    }
    100% {
        color: #0d9642;
    }
}

.colorflash2 {
    color: #0d9642;
    font-weight: 900;
    animation: colorflash2 0.8s infinite;
}

@keyframes colorflash2 {
    0% {
        color: #0d9642;
    }
    100% {
        color: #0878c7;
    }
}

