* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", å¾®è½¯é›…é»‘, "Hiragino Sans GB", arial;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
}

html {
    -webkit-font-smoothing: antialiased;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.clear {
    overflow: hidden;
    _zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    border: none;
}

ul,
ol {
    list-style: none;
}

input[type="text"] {
    -moz-appearance: textfield;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mgblock {
    display: block;
    margin: 0 auto;
}

@-webkit-keyframes btnscale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes btnscale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes btnscale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}


/* @font-face{
      font-family: 'ITV Reem';
      src: url(../assets/itvreem.woff) format('woff');
    } */

.js-odoo {
    font-family: "SimHei", "é»‘ä½“" !important;
    width: 470px;
    height: 72px;
    line-height: 72px;
    margin: 226px auto 0;
    font-size: 52px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    fill: #f9e77f;
}

@-webkit-keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

@-moz-keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

@keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}

@-webkit-keyframes electronic {
    0%,
    100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }
}

@-moz-keyframes electronic {
    0%,
    100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }
}

@keyframes electronic {
    0%,
    100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }
}

.jstop {
    height: 32px;
    line-height: 32px;
    width: 100%;
    background: #179146;
    color: #FFF;
    font-size: 14px;
    padding: 0 20px;
}

.jstop_center {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.header-text1 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.header-text2 {
    float: left;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #C7E4D2;
}

.header-text3 {
    float: left;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #ffe418;
    margin-left: 16px;
    background: url(../images/tel.png) no-repeat left center;
    padding-left: 20px;
}

.jstop_center a {
    color: #FFF;
    font-size: 14px;
    padding: 0 5px;
}

.jstop_center a:hover {
    color: #ffe418;
}

.jseondhead {
    width: 100%;
    height: 96px;
    height: 96px;
    background: #fff;
}

.jseondhead_center {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.jslogo {
    float: left;
    margin: 10px 20px 0 0;
}

.myAnim {
    margin-top: 10px;
}

.kf_right {
    float: right;
    margin-top: 19px;
}

.zxkf {
    display: block;
    margin: 2px;
    height: 60px;
    width: 200px;
    background: url(../images/cs.png) no-repeat center;
}

.zxkf img {
    vertical-align: middle;
}

.kf_right {
    display: block;
    height: 64px;
    width: 204px;
    border-radius: 3px;
    background: #f00;
    background: linear-gradient( 90deg, #fafafa, #fafafa, #e2aa57, #fafafa, #fafafa);
    background-position: 55px 0;
    -webkit-animation: linear 1s infinite linear;
    -moz-animation: linear 1s infinite linear;
    animation: linear 1s infinite linear;
}

.kf_right {
    background: radial-gradient( #e2aa57, #e2aa57, #e2aa57, #e2aa57, #fafafa, #fafafa) no-repeat;
    background-size: 150px 50px;
    animation: electronic 2s infinite linear;
    margin-right: 20px;
}

.jsnav {
    width: 100%;
    height: 50px;
    background: #0d9642;
}

.jsnav ul {
    margin: 0 auto;
    width: 1140px;
    padding: 0 10px;
}

.jsnav ul li {
    float: left;
    width: 140px;
    height: 50px;
}

.jsnav li a {
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-top: 28px;
    background: url(../images/divider.png) no-repeat right center;
}

.jsmain {
    width: 100%;
    height: 851px;
    padding-top: 42px;
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jsmain_center {
    width: 1140px;
    margin: 0 auto;
}

.lfbann {
    float: left;
    width: 556px;
    height: 304px;
    background: #fff;
    padding: 10px;
    position: relative;
}

.rtnews {
    float: right;
    width: 555px;
    height: 304px;
    border: 2px solid #e2e2e2;
    background: #fff;
}

.newul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.newul li {
    float: left;
    width: 33.3%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #f5f5f5;
}

.newul li.active,
.newul li:hover {
    border-bottom: none;
    border-top: 2px solid #0d9642;
    background: #fff;
}

.new_hui {
    padding-left: 40px;
    color: #4c4c4c;
    margin-top: 10px;
}

.new_hui li {
    border-bottom: 1px dashed #c1c1c1;
    list-style-type: square;
    height: 38px;
    line-height: 38px;
}

.new_hui li:last-child {
    border-bottom: none;
}

.new_hui li:hover {
    font-weight: bold;
}

.hotgame {
    padding: 0 33px;
}

.hotgame:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hotgame li {
    width: 50%;
    float: left;
    height: 84px;
}

.hotgame li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    padding: 4px 0;
    border-bottom: 1px dashed #c1c1c1;
    border-right: 1px dashed #c1c1c1;
}

.hotgame li:nth-child(2n+2) a {
    border-right: none;
}

.hotgame li:last-child a {
    border-bottom: none;
}

.hotgame li:nth-last-child(2) a {
    border-bottom: none;
}

.hotgame li img {
    display: block;
    margin: 0 auto;
}

.hotgame li b {
    height: 20px;
}

.hotgame li b span {
    color: #f30303;
}

.hotgame li:hover a {
    opacity: .7;
    filter: Alpha(opacity=70);
}

.wininfo {
    width: 100%;
    height: 230px;
    overflow: hidden;
    padding: 0 33px;
}

.wininfo .title {
    font-size: 15px;
    color: #000;
    margin-top: 6px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #c1c1c1;
}

.wininfo ul {
    margin-top: 10px;
}

.wininfo ul li {
    color: #000;
    width: 100%;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
}

.wininfo span {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 32%;
}

.banImg {
    width: 512px;
    height: 258px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.banImg li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banNum {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.banNum li {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    text-indent: -99999px;
}

.banNum li.active {
    background: #fff;
}

.jsjc {
    height: 486px;
    width: 556px;
    float: left;
    background: #fff;
    padding: 12px 20px 0;
    border: 2px solid #e2e2e2;
    margin-top: 20px;
    position: relative;
}

.jsjc i {
    width: 33px;
    height: 118px;
    background: url(../images/miaoji.png) no-repeat;
    position: absolute;
    left: -33px;
    top: 62px;
}

.jsjc b {
    float: left;
    font-weight: normal;
    color: #0d9642;
    font-size: 30px;
    width: 349px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #0d9642;
    display: inline-block;
}

.jsjc b span {
    font-size: 42px;
    color: #f00101;
}

.reload_btn {
    float: left;
    width: 159px;
    height: 50px;
    display: inline-block;
    background: url(../images/btm_01.png) no-repeat;
}

.reload_btn:hover {
    background: url(../images/btm_01.png) no-repeat -160px 0;
}

.onewb {
    margin-top: 16px;
}

.onewb:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cm {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 22px;
    border-radius: 6px;
    background: #0d9642;
    color: #fff;
    font-size: 17px;
    display: inline-block;
}

.modewb {
    float: left;
    width: 286px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    color: #000000;
    border-bottom: 1px solid #0d9642;
}

.modewb span {
    font-weight: bold;
    color: #0d9642;
}

.oneline {
    float: left;
    margin-left: 22px;
    width: 115px;
    height: 36px;
    line-height: 36px;
    color: #fbff6c;
    font-size: 23px;
    text-align: right;
    padding-right: 12px;
    background: url(../images/btm_2.png) no-repeat;
}

.oneline:hover {
    background: url(../images/btm_1.png) no-repeat;
    font-size: 0;
    /width: 115px;
    height: 36px;
    line-height: 36px;
}

.conyyhui {
    display: none;
    position: relative;
}

.jslot {
    float: right;
    width: 555px;
    height: 436px;
    background: url(../images/lot.png) no-repeat;
    margin-top: 24px;
    position: relative;
}

.jslot i {
    width: 558px;
    height: 342px;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.suplot {
    width: 422px;
    height: 86px;
    position: absolute;
    bottom: 28px;
    left: 72px;
}

.suplot li {
    width: 33.333%;
    height: 86px;
    float: left;
}

.suplot li:nth-child(1) {
    background: url(../images/01.png) no-repeat center top;
}

.suplot li:nth-child(2) {
    background: url(../images/02.png) no-repeat center top;
}

.suplot li:nth-child(3) {
    background: url(../images/03.png) no-repeat center top;
}

.jc_name {
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-top: 42px;
    overflow: hidden;
}

.jcprice {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    overflow: hidden;
}

.jsweb {
    width: 1140px;
    margin: 30px auto 0;
}

.cantf {
    width: 100%;
    border: 4px solid #0d9642;
    padding: 15px;
    margin-bottom: 20px;
}

.cantf h1 {
    text-align: center;
    font-size: 35px;
    color: #0d9642;
    position: relative;
    margin-bottom: 20px;
}

.cantf h1:before {
    content: '';
    position: absolute;
    left: 146px;
    top: 25px;
    width: 272px;
    height: 1px;
    background: #0d9642;
}

.cantf h1:after {
    content: '';
    position: absolute;
    right: 146px;
    top: 25px;
    width: 272px;
    height: 1px;
    background: #0d9642;
}

.jsstep {
    width: 100%;
    border: 4px solid #0d9642;
    padding: 24px 28px 22px 12px;
    margin-top: 20px;
}

.jsstep:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.jsstep ul {
    float: left;
    padding-top: 18px;
}

.jsstep ul li {
    float: left;
    background: url(../images/n-2.png) no-repeat right center;
    padding-right: 26px;
    margin-right: 15px;
}

.jsstep ul li:last-child {
    background: none;
    padding-right: 0;
    margin-right: 0;
}

.jsstep li span {
    display: inline-block;
    margin-right: 4px;
    width: 63px;
    height: 63px;
    text-align: center;
    line-height: 63px;
    font-size: 32px;
    color: #fbff6c;
    background: url(../images/n-1.png) no-repeat;
}

.jsstep li:hover span {
    -webkit-animation: btnscale .4s linear;
    -moz-animation: btnscale .4s linear;
    animation: btnscale .4s linear;
}

.jsstep li b {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #0d9642;
    line-height: 22px;
    height: 63px;
}

.btn_hui {
    height: 45px;
    width: 135px;
    display: block;
    background: url(../images/n-3.png) no-repeat;
    margin-bottom: 4px;
}

.btn_hui:hover {
    background: url(../images/n-3.png) no-repeat -140px 0;
}

.btn_dai {
    height: 45px;
    width: 135px;
    display: block;
    background: url(../images/n-4.png) no-repeat;
}

.btn_dai:hover {
    background: url(../images/n-4.png) no-repeat -140px 0;
}

.zuidi {
    position: relative;
}

.zuidi a {
    position: absolute;
    left: 33px;
    bottom: 16px;
    width: 130px;
    height: 45px;
    z-index: 10;
    background: rgba(255, 255, 255, 0);
    display: block;
}

.jsbotasfoot {
    width: 100%;
    height: 74px;
    background: #0d9642;
    margin: 34px 0 0px;
    padding-top: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.jsbotasfoot a {
    color: #fff;
    padding: 0 5px;
}

.jsbotasfoot a:hover {
    color: #ffe418;
}

.fixbottom {
    display: none;
    width: 100%;
    height: 82px;
    background: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.fixcenter {
    width: 1140px;
    line-height: 82px;
    margin: 0 auto;
    position: relative;
}

.fixcenter:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.lf_fx {
    position: absolute;
    top: -18px;
    left: 0px;
}

.daoImg {
    margin: 16px 0 0 304px;
}

.zhouimg {
    position: absolute;
    left: 438px;
    top: -54px;
}

.crashimg {
    width: 190px;
    position: absolute;
    right: 0px;
    top: -15px;
}

.go_zhu {
    width: 150px;
    height: 53px;
    display: block;
    right: 250px;
    top: 18px;
    position: absolute;
    background: url(../images/btn_reg_member.png) no-repeat;
}

.go_zhu:hover {
    background: url(../images/btn_reg_member.png) no-repeat -150px 0;
}

.fxtime {
    width: 182px;
    height: 82px;
    position: absolute;
    right: 300px;
    top: 0;
    color: #f9e3d2;
    text-align: center;
}

.fxtime b {
    width: 40px;
    height: 100%;
    line-height: 26px;
    display: inline-block;
    padding-top: 18px;
}

.fxtime span {
    display: inline-block;
    width: 40px;
}

.fix_close {
    position: absolute;
    right: 12px;
    top: 4px;
    cursor: pointer;
    font-size: 36px;
    font-weight: 100;
    color: #ccc;
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
}

.fixbottom:hover .fix_close {
    display: block;
}

.wbul {
    padding: 0 23px;
    position: relative;
}

.wbul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wbul li {
    float: left;
    width: 247px;
    height: 291px;
    background: url(../images/wbul.png) no-repeat;
    margin-right: 22px;
}

.wbul li:last-child {
    margin-right: 0;
}

.wbul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.wbul li:hover {
    -webkit-animation: btnscale .4s linear;
}

.wbul li strong {
    font-size: 20px;
    color: #fff193;
    width: 128px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    font-family: "SimHei", "é»‘ä½“";
}

.wbul li p {
    font-size: 13px;
    color: #fbff6c;
    padding: 0 12px;
}

.wbul li p span {
    font-size: 17px;
    display: block;
    margin-bottom: 2px;
}

.wbul li p b {
    font-weight: normal;
    line-height: 18px;
}

.main_visual {
    height: 284px;
    overflow: hidden;
    position: relative;
}

.main_image {
    height: 284px;
    overflow: hidden;
    position: relative;
}

.main_image ul {
    width: 9999px;
    height: 284px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 304px;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 284px
}

.main_image li a {
    display: block;
    width: 100%;
    height: 284px
}

div.flicking_con {
    position: absolute;
    bottom: 12px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 21px;
    margin: 0;
    text-align: center;
}

div.flicking_con a {
    width: 18px;
    height: 18px;
    margin: 0 5px;
    padding: 0;
    background: url('../images/btn_main_img.png') 0 0 no-repeat;
    display: inline-block;
    text-indent: -1000px
}

div.flicking_con a.on {
    background-position: 0 -22px
}

#btn_prev,
#btn_next {
    display: none;
    z-index: 11111;
    font-size: 50px;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    width: 40px!important;
    height: 40px!important;
    line-height: 40px!important;
    text-align: center;
    top: 50%;
    margin-top: -37px;
    text-decoration: none;
}

#btn_prev {
    left: 10px;
}

#btn_next {
    right: 10px;
}

.count-title {
    color: #f9e77f;
    font-size: 52px;
    margin: 228px auto 0;
    width: 416px;
    padding-right: 10px;
    height: 84px;
    text-align: center;
}

.colorflash {
    color: #0878c7;
    font-weight: 900;
    animation: colorflash 0.8s infinite;
}

@keyframes colorflash {
    0% {
        color: #0878c7;
    }
    100% {
        color: #0d9642;
    }
}

.colorflash2 {
    color: #0d9642;
    font-weight: 900;
    animation: colorflash2 0.8s infinite;
}

@keyframes colorflash2 {
    0% {
        color: #0d9642;
    }
    100% {
        color: #0878c7;
    }
}